dash>=2.18.2
dash-bootstrap-components>=1.7.1
dash-daq>=0.6.0
pandas>=2.2.3
numpy
plotly>=6.0.0
ruamel.yaml>=0.18.10
snakemake>=8.30.0
biopython>=1.85
tqdm>=4.67.1
pyfastx>=2.2.0
flask>=3.1.0
scipy>=1.10.0
requests>=2.32.3